@font-face {
  font-family: "KaushanScript";
  src: url(../fonts/Kaushan_Script/KaushanScript-Regular.ttf);
}
@font-face {
  font-family: "MontserratBold";
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "RobotoBold";
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: "MontserratRegular";
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
.KaushanScript {
  font-family: KaushanScript !important;
}
.MontserratBold {
  font-family: MontserratBold !important;
}
.MontserratRegular {
  font-family: MontserratRegular !important;
}
.RobotoBold {
  font-family: RobotoBold !important;
}
.border-white {
  border:1px solid #fff;
}
.text-white {
  color: #fff;
}
.text-yellow {
  color: #F1C050;
}
body {
  /*background-image: url("../images/img1.jpeg");
  background-size: cover;
  margin-bottom: 150px;*/
  background-color: rgb(239, 239, 239);
}
.mbr-table {
  display: table;
  width: 100%;
}
.navbar.nav-scrolled {
  background: #fff;
}
.navbar .navbar-caption img {
  width:260px;
  transition: all 0.45s ease-in-out;
}
.navbar.nav-scrolled .navbar-caption img {width:230px}
.navbar.nav-scrolled .navbar-dropdown .navbar-brand{padding: 0.25rem 0}
.navbar.nav-scrolled .navbar-nav .nav-link {color: #1cc8e1}
.navbar-dropdown {
  left: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.45s ease;
  z-index: 1030;
}
.navbar-dropdown.navbar-fixed-top {
  position: fixed;
}
.navbar-dropdown .mbr-table-cell {
  height: 5.625rem;
}
.mbr-table-cell {
  display: table-cell;
  float: none;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  vertical-align: middle;
}
.navbar-brand {
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 1rem;
  font-size: 1.25rem;
}
.navbar-dropdown .navbar-brand {
  float: none;
  font-size: 0;
  padding: 0.25rem 0;
  position: relative;
  transition: padding 0.25s ease;
  white-space: nowrap;
}
.navbar-dropdown .navbar-brand::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.navbar-brand .text-black {
  color: #000 !important;
}

.navbar-dropdown .navbar-caption, .navbar-dropdown .navbar-caption:hover {
  color: #fff;
  text-decoration: none;
}
.navbar-dropdown .navbar-caption {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 700;
  white-space: normal;
}
.navbar-dropdown .navbar-logo, .navbar-dropdown .navbar-caption {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}
.text-black {
  color: #535353 !important;
}
[role=button], a, area, button, input, label, select, summary, textarea {
  touch-action: manipulation;
}
a {
  color: #F1C050;
  text-decoration: none;
}
a {
  background-color: transparent;
}
.navbar-dropdown .mbr-table-cell {
  height: 5.625rem;
}

.mbr-table-cell {
  display: table-cell;
  float: none;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  vertical-align: middle;
}
.navbar-toggler {
  position: relative;
}

.pull-xs-right {
  float: right!important;
}
.navbar-toggler {
  padding: .5rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: 1.4rem;
}
button, input, select, textarea {
  margin: 0;
  line-height: inherit;
  border-radius: 0;
}
.navbar-dropdown .hamburger-icon {
  content: "";
  width: 16px;
  -webkit-box-shadow: 0 -6px 0 1px, 0 0 0 1px, 0 6px 0 1px;
  -moz-box-shadow: 0 -6px 0 1px,0 0 0 1px,0 6px 0 1px;
  box-shadow: 0 -6px 0 1px, 0 0 0 1px, 0 6px 0 1px;
}
.nav-dropdown {
  display: table !important;
  font-family: "Montserrat";
  font-size: 0.75rem;
  font-weight: 700;
  height: auto !important;
}

.pull-xs-right {
  float: right!important;
}
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    display: block!important;
  }
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
}
.collapse {
  display: none;
}
.breadcrumb, .carousel-indicators, .dropdown-menu, .media-list, .nav, .pager {
  list-style: none;
}
.nav-dropdown .nav-item {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
.nav-dropdown .link.dropdown-toggle {
  margin: 0;
  padding: 20px;
  margin-right: 2.583em;
}
.nav-dropdown .link {
  margin: 1.667em;
  padding: 0;
  transition: color .2s ease-in-out;
}
.navbar-nav .nav-link {
  display: block;
  padding-top: .425rem;
  padding-bottom: .425rem;
  color: #fff;
}
.navbar-nav .nav-item.active .nav-link {
  border-bottom: 1px solid #fce38a;
  color: #fce38a;
}
.nav-dropdown .link.dropdown-toggle::after {
  display: block;
  margin-top: -0.1667em;
  position: absolute;
  right: 3.2em;
  top: 50%;
}
.nav-dropdown .dropdown-menu {
  border-radius: 0;
  border: 0;
  left: 0;
  margin: 0;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}
.open>.dropdown-menu {
  display: block;
}
/*.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 1rem;
  color: #000;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}*/
.navbar-nav .open>.dropdown-menu {
  position: absolute;
}
.open>.nav-link {
  background: #e6e6e6;
}
.btn-group>.btn-group, .btn-toolbar .btn-group, .btn-toolbar .input-group, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .dropdown-menu, .table-reflow thead, .table-reflow tr {
  float: left;
}
.breadcrumb, .carousel-indicators, .dropdown-menu, .media-list, .nav, .pager {
  list-style: none;
}
.nav-dropdown .nav-btn {
  padding-left: 1rem;
}
.nav-dropdown .nav-item {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
.nav-dropdown .btn {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0;
  margin-bottom: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.btn, .dropdown-header, .dropdown-item, .input-group-btn, .label, .table-reflow tbody {
  white-space: nowrap;
}
.btn {
  margin-bottom: 0.5rem;
}
.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 0.75rem 2.1875rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 3px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.btn-black {
  background-color: #535353;
  border-color: #535353;
  box-shadow: none;
  color: #fff;
}
.btn-black-outline {
  background: none;
  border-color: #202020;
  color: #202020;
}
.navbar-dropdown .navbar-close {
  left: 0.6875rem;
  position: fixed;
  top: 0.75rem;
  z-index: 1000;
}
.navbar-toggler {
  position: relative;
}
.navbar-toggler {
  padding: .5rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: 1.4rem;
}
.navbar-dropdown .close-icon {
  position: relative;
  width: 21px;
  height: 21px;
  overflow: hidden;
}
.navbar-close .close-icon {
  display: block;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .display-1, .display-2, .display-3, .display-4 {
  font-family: 'Montserrat', sans-serif;
  word-break: break-word;
  word-wrap: break-word;
}
.display-2 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 1.5625rem;
  margin-top: 3.5rem;
}
/*----------------------Slider---------------------*/
.mbr-section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 62px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.mbr-section-full {
  display: table;
  /*height: 100vh;*/
  padding-bottom: 0;
  padding-top: 0;
  table-layout: fixed;
  width: 100%;
}
.mbr-section-full .mbr-overlay {
  /*min-height: 100vh;*/
}
.mbr-section-nopadding {
  padding-top: 0;
  padding-bottom: 0;
}
.mbr-section-nopadding-t {
  padding-top: 0;
}
.mbr-section-nopadding-b {
  padding-bottom: 0;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.mbr-overlay ~ * {
  z-index: 2;
}
.mbr-table-cell {
  display: table-cell;
  float: none;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  vertical-align: middle;
}
.mbr-section-full > .mbr-table-cell {
  width: 100%;
}
.text-xs-center {
  text-align: center!important;
}
.mbr-section-title {
  margin-top: 0;
}
.mbr-section-hero .mbr-section-title {
  color: #000000;;
  margin-bottom: 1.6875rem;
  font-size: 72px;
  color: #ffffff;
  font-family: "Kaushan Script";
  font-weight: 400;
  text-align: center;
}
.display-1 {
  font-size: 6rem;
}
.display-1 {
  font-size: 4.39rem;
  font-weight: 600;
  letter-spacing: -2px;
  margin-bottom: 0.2843em;
  margin-top: 3.9rem;
}
p.lead, .lead p {
  font-size: 1.07rem;
  font-weight: 300;
  margin-bottom: 2.3125rem;
}
.mbr-section-hero .mbr-section-lead {
  color: #000000;;
  font-family: Lora;
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 0em;
  font-size: 150px;
  line-height: 140px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
}
.btn-sm, .lead a, .lead blockquote, .mbr-section-subtitle, .mbr-section-hero .mbr-section-lead, .mbr-cards .card-subtitle, .mbr-testimonial .card-block {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.btn, .c-indicator, .file-custom {
  user-select: none;
}
.btn, .dropdown-header, .dropdown-item, .input-group-btn, .label, .table-reflow tbody {
  white-space: nowrap;
}
.btn-secondary {
  color: #000;
  background-color: #fff;
  border-color: #000;
}
.btn-group-lg>.btn, .btn-lg {
  padding: .65rem 1.85rem;
  font-size: 1.25rem;
  line-height: 1.33333;
  border-radius: 1.7rem;
}
.btn {
  margin-bottom: 0.5rem;
}
.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 0.75rem 2.1875rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 3px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.btn-lg {
  padding: 0.75rem 2.1874rem;
  font-size: 0.9687rem;
  line-height: 1.33333;
  border-radius: 3px;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  box-shadow: none;
  color: #fff;
}
.btn, .alert, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .display-1, .display-2, .display-3, .display-4, .mbr-figure .mbr-figure-caption, .mbr-gallery-title, .mbr-map [data-state-details], .mbr-price {
  font-family: 'Oxygen', sans-serif;
}
.btn-secondary {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn, .dropdown-header, .dropdown-item, .input-group-btn, .label, .table-reflow tbody {
  white-space: nowrap;
}
.btn {
  margin-bottom: 0.5rem;
}
.btn-secondary-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.overlay-img {
  background-image: url("../images/picture.png");
}

/*-------------carousel-----------*/
main_slide.carousel {
  z-index: 9;
}
#main_slide.carousel .mbr-table-cell {
  z-index: 99;
  display: block;
}
#main_slide .carousel-indicators li {
  width: calc(80% / 3);
}

/*---------Second block--------*/
.header-sec:after {
  border: 1px solid red;
}
.h2-head-sec {
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  margin-bottom: 10px;
}
.h3-head-sec {
  font-size: 30px;
  color: #333333;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0;
  text-transform: uppercase;
}
.brdr {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  border-radius: 50px;
  margin-top: 0;
}
.sec-para {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  text-align: center;
  margin: auto;
}
.card-img-top {
  height: 180px;
}
.card .overlay-card-img-top {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  /*padding-top: calc(45%/2);*/
  color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: .5s ease;
  background-color: transparent;
}
.text-card {
  font-size: 0.9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  background: -webkit-linear-gradient(left, rgba(85, 67, 70, 0.85), rgba(69, 80, 91, 0.85)) !important;
  background: -moz-linear-gradient(left, rgba(85, 67, 70, 0.85), rgba(69, 80, 91, 0.85)) !important;
  background: -o-linear-gradient(left, rgba(85, 67, 70, 0.85), rgba(69, 80, 91, 0.85)) !important;
  background: -ms-linear-gradient(left, rgba(85, 67, 70, 0.85), rgba(69, 80, 91, 0.85)) !important;
  background: linear-gradient(left, rgba(85, 67, 70, 0.85), rgba(69, 80, 91, 0.85)) !important;
  -webkit-transition: .2s background ease-in-out;
  transition: .2s background ease-in-out;
}
.card .overlay-card-img-top::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(left, #554346, #45505b) !important;
  background: -moz-linear-gradient(left, #554346, #45505b) !important;
  background: -o-linear-gradient(left, #554346, #45505b) !important;
  background: -ms-linear-gradient(left, #554346, #45505b) !important;
  background: linear-gradient(left, #554346, #45505b) !important;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out;
}
.card .overlay-card-img-top:hover::before {
  opacity: 0.5;
}
/*.card:hover .overlay-card-img-top {
  background-image: url("../images/picture.png");
}*/
.text-card {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 0%;
  width: 100%;
  padding: 15px 15px;
  text-align: left;
  background-color: rgba(255, 255, 255, .3);
}
.counter-bg {
  background: #95e1d3;
  padding: 70px 0;
}
.number-wrap {
  color: #fff;
  text-align: center;
}
.number-wrap h2 {
  font-size: 72px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}
.number-wrap p {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}
/*------------Contact Us-------------*/
.form-control {
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: .25rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.row-sm-offset {
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}
.row-sm-offset > * {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.form-control-label {
  color: #232323;
}
.form-control-label {
  cursor: pointer;
  font-size: 0.875rem;
  margin-bottom: 0.357em;
  padding: 0;
}
.form-asterisk {
  font-family: initial;
  position: absolute;
  top: -2px;
  font-weight: normal;
}
.form-control {
  background-color: #f5f5f5;
  border-radius: 3px;
  box-shadow: none;
  color: #565656;
  font-size: 0.875rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 0.5em 1.07em 0.5em;
}
/*.form-control, .form-control:focus {
  border: 1px solid #e8e8e8;
}*/
.nav-dropdown-sm.collapsing, .nav-dropdown-sm.collapse.in {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
}
.collapse.in {
  display: block;
}
.nav-dropdown-sm .nav-item {
  display: block;
  margin-left: 0 !important;
  padding-left: 0;
}
.navbar-dropdown.opened {
  background: none !important;
}
.navbar-toggler {
  position: relative;
}
.nav-dropdown.navbar-toggleable-sm.collapse.in {
  overflow-x: hidden;
  top: 0;
  transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  width: 18.75rem;
  z-index: 999;
  left: 300px;
  position: fixed;
  height: 100% !important;
  /*background: #ccc;*/
  bottom: 0;
  display: block !important;
}
.nav-dropdown.navbar-toggleable-sm.collapse.in li {
  width: 100%;
  display: block !important;
}
section + hr {
  position: relative;
  top: 52px;
  margin: 0 20%;
}
.navbar-toggler {
  padding: .5rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: 1.4rem;
}
.navbar-dropdown.opened .navbar-brand, .navbar-dropdown.opened .navbar-toggler {
  display: none;
}
.navbar-dropdown .navbar-close {
  left: 0.6875rem;
  position: fixed;
  top: 0.75rem;
  z-index: 1000;
}
.navbar-toggleable-sm.collapse.in + .navbar-close {
  display: block !important;
}
.navbar-toggler {
  padding: .5rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: 1.4rem;
}
.navbar-toggler {
  color: #000000;
}
.navbar-dropdown .close-icon::before {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.navbar-dropdown .close-icon::before, .navbar-dropdown .close-icon::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
}
.navbar-dropdown .close-icon::after {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.close-icon::before, .close-icon::after {
  background-color: #000000;
}
.nav-dropdown-sm.collapse.in ~ .navbar-close {
  display: block !important;
}

/*---------Login------*/
[data-dismiss="modal"] {
  position: absolute;
  /*top: 15px;*/
  right: 15px;
}
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

/*.form-label-group input {
  height: auto;
  border-radius: 2rem;
}*/

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}
.mbr-footer {
  background-color: rgb(55, 71, 79);
  color: #fff;
}
.mbr-footer-content p, .mbr-footer .mbr-contacts p {
  color: #fff;
  font-size: 0.875rem;
  margin-bottom: 0;
}
.mbr-footer-content p strong, .mbr-footer .mbr-contacts p strong {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  /*letter-spacing: -1px;*/
  line-height: 1.3;
  margin-bottom: 1.875em;
  color: #ffffff;
}
.mbr-map {
  height: 25rem;
  position: relative;
}
.mbr-map iframe {
  height: 100%;
  width: 100%;
}
@media (min-width: 1280px) {
  .mbr-footer {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
  }
}
@media only screen and (max-width: 991px) {
  .parallax {
    background-position: 25%;
  }
  .mbr-section-hero .mbr-section-title {
    font-size: 36px;
  }
  .mbr-section-hero .mbr-section-lead {
    font-size: 72px;
    line-height: 70px;
  }
}
@media only screen and (max-width: 768px) {
  .nav-dropdown.navbar-toggleable-sm {
    bottom: 0;
    display: none;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    width: 18.75rem;
    z-index: 999;
  }
  .nav-dropdown.navbar-toggleable-sm.collapse {
    padding-top: 90px;
    background: #fff;
    left: 0;
    transition: width 2s;
    -webkit-transition: width 2s; /* Safari 3.1 to 6.0 */
  }
  .nav-dropdown.navbar-toggleable-sm.collapse.show {
    left: 300px;
  }
  .nav-dropdown.navbar-toggleable-sm.collapse.show .nav-item {
    width: 100%;
    display: block;
  }
  .nav-dropdown.navbar-toggleable-sm.collapse.show .nav-item a {
    color: #000;
  }
}
@media only screen and (max-width: 991px) {
  .navbar.nav-scrolled .navbar-caption img {
    width: 52px;
  }
}
@media (max-width: 768px) {
  .navbar.nav-scrolled .navbar-caption img {
    width: 40%;
  }
}
@media (min-width: 769px) {
  .hidden-md-up {
    display: none!important;
  }
}

/*--------------------Slider 1--------------------*/
.carousel-item.active .animated-text {

	animation-duration: 20s;
	animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: anim-1;
}
@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%, 100% { left: 0%; opacity: 1; }
}
.carousel-item.active .animated-text-2 {
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: anim-2;
}
@keyframes anim-2 {
	0%, 8.3% { opacity: 0; }
  20%, 100% { opacity: 1; }
}
.mbr-section-btn .btn {
  color: #fff;
}
.mbr-section-btn .btn:hover {
  color: #5a6268;
  background-color: #fff;
}
.mt-title-4 {
  margin-top: 4em;
}
#circle {
  height: 500px;
  width: 500px;
  display: inline-table;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  padding: 115px;
  background: #cecece;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  border: 1px solid #f7f7f8;
  box-shadow: none;
  background: transparent;
  padding: 60px;
  border: none;
}
#circle > div {
  display: table-cell;
  vertical-align: middle;
  border-radius: 50%;
  background: #ececec;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  /* border: 1px solid #f7f7f8; */
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  background: transparent;
}
/* .triangle-up {
  width: 120px;
  height: 80px;
  background: red;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
} */
/* .triangle-up:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid red;
  border-bottom: 13px solid transparent;
} */
.triangle-up {
  /*width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 200px solid red;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;*/
  /* display: inline-block;
  position: absolute; */
}
/* .triangle-up span {
  display: inline-block;
  left: -39px;
  position: relative;
  top: 78px;
  width: 89px;
  height: 45px;
}
.triangle-up__1-child {
  left: 165px;
  transform: rotate(122deg);
  top: 195px;
}
.triangle-up__1-child span {
  transform: rotate(-137deg);
}
.triangle-up__2-child {
  left: 103px;
  transform: rotate(84deg);
  top: 204px;
}
.triangle-up__2-child span {
  transform: rotate(-84deg);
}
.triangle-up__3-child {
  left: 179px;
  transform: rotate(31deg);
  top: 390px;
}
.triangle-up__3-child span {
  transform: rotate(-31deg);
}
.triangle-up__4-child {
  left: 373px;
  transform: rotate(-22deg);
  top: 442px;
}
.triangle-up__4-child span {
  transform: rotate(22deg);
}
.triangle-up__5-child {
  left: 508px;
  transform: rotate(-75deg);
  top: 328px;
}
.triangle-up__5-child span {
  transform: rotate(75deg);
}
.triangle-up__6-child {
  left: 484px;
  transform: rotate(-128deg);
  top: 156px;
}
.triangle-up__6-child span {
  transform: rotate(128deg);
}
.triangle-up__7-child {
  left: 341px;
  transform: rotate(-170deg);
  top: 55px;
}
.triangle-up__7-child span {
  transform: rotate(170deg);
} */
.circle-container {
  position: relative;
  width: 20em;
  height: 20em;
  border-radius: 50%;
  padding: 0;
  list-style: none;
  margin: 13em auto;
  /*border: solid 5px tomato;*/
}
.circle-container > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3em;
  width: 8em;
  height: 6em;
  text-align: center;
  padding-top: 11%;
  border-radius: 50%;
  background: #ccc;
  transition: transform 2s, transform 1s;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  border: 1px solid #f7f7f8;
  border: none;
  color: #fff;
}
.circle-container img {
  display: block;
  max-width: 100%;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  border: solid 5px tomato;
  transition: .15s;
}
.circle-container > *:nth-of-type(1) {
  -webkit-transform: rotate(0deg) translate(3em) rotate(0deg);
  transform: rotate(0deg) translate(3em) rotate(0deg);
  background-color: #55efc4;
}
.carousel-item.active .circle-container > *:nth-of-type(1) {
  -webkit-transform: rotate(0deg) translate(12em) rotate(0deg);
  transform: rotate(0deg) translate(12em) rotate(0deg);
}
.circle-container > *:nth-of-type(2) {
  -webkit-transform: rotate(51.42857deg) translate(3em) rotate(-51.42857deg);
  transform: rotate(51.42857deg) translate(3em) rotate(-51.42857deg);
  background-color: #ff7675;
}
.carousel-item.active .circle-container > *:nth-of-type(2) {
  -webkit-transform: rotate(51.42857deg) translate(12em) rotate(-51.42857deg);
  transform: rotate(51.42857deg) translate(12em) rotate(-51.42857deg);
}
.circle-container > *:nth-of-type(3) {
  -webkit-transform: rotate(102.85714deg) translate(3em) rotate(-102.85714deg);
  transform: rotate(102.85714deg) translate(3em) rotate(-102.85714deg);
  background-color: #74b9ff;
}
.carousel-item.active .circle-container > *:nth-of-type(3) {
  -webkit-transform: rotate(102.85714deg) translate(12em) rotate(-102.85714deg);
  transform: rotate(102.85714deg) translate(12em) rotate(-102.85714deg);
}
.circle-container > *:nth-of-type(4) {
  -webkit-transform: rotate(154.28571deg) translate(3em) rotate(-154.28571deg);
  transform: rotate(154.28571deg) translate(3em) rotate(-154.28571deg);
  background-color: #e84393;
}
.carousel-item.active .circle-container > *:nth-of-type(4) {
  -webkit-transform: rotate(154.28571deg) translate(12em) rotate(-154.28571deg);
  transform: rotate(154.28571deg) translate(12em) rotate(-154.28571deg);
}
.circle-container > *:nth-of-type(5) {
  -webkit-transform: rotate(205.71429deg) translate(3em) rotate(-205.71429deg);
  transform: rotate(205.71429deg) translate(3em) rotate(-205.71429deg);
  background-color: #fdcb6e;
}
.carousel-item.active .circle-container > *:nth-of-type(5) {
  -webkit-transform: rotate(205.71429deg) translate(12em) rotate(-205.71429deg);
  transform: rotate(205.71429deg) translate(12em) rotate(-205.71429deg);
}
.circle-container > *:nth-of-type(6) {
  -webkit-transform: rotate(257.14286deg) translate(3em) rotate(-257.14286deg);
  transform: rotate(257.14286deg) translate(3em) rotate(-257.14286deg);
  background-color: #a29bfe;
}
.carousel-item.active .circle-container > *:nth-of-type(6) {
  -webkit-transform: rotate(257.14286deg) translate(12em) rotate(-257.14286deg);
  transform: rotate(257.14286deg) translate(12em) rotate(-257.14286deg);
}
.circle-container > *:nth-of-type(7) {
  -webkit-transform: rotate(308.57143deg) translate(3em) rotate(-308.57143deg);
  transform: rotate(308.57143deg) translate(3em) rotate(-308.57143deg);
  background-color: #e17055;
}
.carousel-item.active .circle-container > *:nth-of-type(7) {
  -webkit-transform: rotate(308.57143deg) translate(12em) rotate(-308.57143deg);
  transform: rotate(308.57143deg) translate(12em) rotate(-308.57143deg);
}
.circle-container > *:nth-of-type(8) {
  top: -42px;
  left: -42px;
  z-index: -1;
}
